body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  font-family: 'Roboto', Helvetica, sans-serif;
}

#app {
  width: 100vw;
  min-height: 100vh;
}

.view {
  padding: 40px 0px;
}

/** login scss */
@import "./pages/login";

/** register scss */
@import "./pages/register";

/** feed scss */
@import "./pages/feed";

/** Header components */
@import "./components/Header";

/** Footer components */
@import "./components/Footer";

/** Post components */
@import "./components/Post";
